extends layout

block content
  #wrapper
    #display
        form(method='post')
            div.controls
                input(id='name', type='text', name='username', placeholder='Your name')
            div.controls
                input(id='Latitude', type='hidden', name='Latitude', placeholder='Latitude', value='')
            div.controls
                input(id='Longitude', type='hidden', name='Longitude', placeholder='Longitude', value='')
            table
                tr
                    td.half
                        button.happybutton(type='submit', name='rating', value='1')
                    td.half
                        button.sadbutton(type='submit', name='rating', value='0')
            //div.control-group
            //    div.controls
            //        button.btn.btn-primary(type='submit', id='rating', name='rating', value='0')
            //            img(src='/images/happy_smiley.jpg')
            script.(    )
                getLocationConstant()