doctype 5
html
  head

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/geolocate.js')
    script(type='text/javascript', src='/javascripts/geolocate1.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')


  body
    block content