body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrapper
{
  width: 80%;
  margin: 0 auto;
  padding: 40px 20px;
  background: #fff;
}

#logo{
  text-align: center;
}
#display  {
  margin: 20px 0 50px ;
}
#userbar  {
  margin-bottom: 10px ;

}

div.submitbutton{
height:80%
}

button.happybutton {
  position:left;
  background-color: transparent;
  background-image: url(/images/happy_smiley.svg);
  /*background-size: 100px 100px;*/
  background-repeat:no-repeat;
  border: 0;
  padding: 8px 8px;
  color: white;
  width:15%;
  height:100%;
  min-height:100px;
}

button.sadbutton {
  position:right;
  background-color: transparent;
  background-image: url(/images/sad_smiley.svg);
  /*background-size: 100px 100px;*/
  background-repeat:no-repeat;
  border: 0;
  padding: 8px 8px;
  color: white;
  width:15%;
  height:100%;
  min-height:100px;
}